<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Larry Fox</string>
	<key>Builder Version</key>
	<string>8536.30.1</string>
	<key>CFBundleDisplayName</key>
	<string>Mobile Times</string>
	<key>CFBundleIdentifier</key>
	<string>com.arrlyco.mobile-ny-times</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>mobile-times.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Redirects NY Times articles to the mobile layout for a better reading experience.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>nytimes.com</string>
				<string>*.nytimes.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://arrly.co</string>
</dict>
</plist>
